

:root {
    --back-color: rgb(29, 29, 29);
    --front-color: rgb(33, 39, 39);
    --text-color: rgb(187, 181, 176);
    --alt-text-color: rgb(32, 32, 31);
    --misc-color: rgb(112, 112, 112);
    font-family: monospace;
}
code[class*=language-],pre[class*=language-]{color:#fff;background:0 0;text-shadow:0 -.1em .2em #000;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}:not(pre)>code[class*=language-],pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border:1px solid var(--misc-color);border-radius:.5em;box-shadow:1px 1px .5em #000 inset}:not(pre)>code[class*=language-]{padding:.15em .2em .05em;border-radius:.3em;border:1px solid #7a6651;box-shadow:1px 1px .3em -.1em #000 inset;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#997f66}.token.punctuation{opacity:.7}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.number,.token.property,.token.symbol,.token.tag{color:#d1939e}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#bce051}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f4b73d}.token.atrule,.token.attr-value,.token.keyword{color:#d1939e}.token.important,.token.regex{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.deleted{color:red}

p {
    break-inside: avoid;
    line-height: 1.75;
    font-size: 14px;
}

body {
    background-color: var(--back-color);
    margin: 2em;
}

.parent {
    background-color: var(--front-color);
    color: var(--text-color);
    padding: 1em;
    max-width: 900px;
    margin: auto;
}

.border {
    border-top-width: 10px;
    border-top: solid;
    border-top-color: var(--misc-color);
}

.navbar-button {
    background-color: var(--misc-color);
    border-radius: 6px;
    padding: 3px 10px;
    text-decoration: none;
    color: var(--alt-text-color);
    margin: 0.5em;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    text-align: center;
}

.footer-img {
    max-width: 20px;
}

.footer-anchor {
    text-decoration: none;
    margin: 1.5%;
}

.sourceCode {
    background-color: var(--back-color);
    border-radius: 10px;
    border-color: black;
}

footer {
    text-align: center;
}

.footer-text {
    margin: .5% 0 0 0;
}

.project-div {
    display: table;
}

.project-div img {
    margin-bottom: 100px;
    margin: 5px;
    float: right;
}
.project-img {
    width: 300px; 
    height: 380px;
    object-fit: contain;
}

.project-p {
    min-width: 300px;
}